modules = ["nodejs-20", "web"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[deployment]
deploymentTarget = "static"
build = ["pnpm", "run", "build"]
publicDir = "dist"

[userenv]

[userenv.shared]
VITE_FIREBASE_API_KEY = "AIzaSyDAfN1uFU_UJiQuxjJcv_iMMSpKg_ZdaGg"
VITE_FIREBASE_APP_ID = "1:41939778711:web:b237893f71c1379fae3dd2"
VITE_FIREBASE_AUTH_DOMAIN = "vexa-95bb6.firebaseapp.com"
VITE_FIREBASE_MEASUREMENT_ID = "G-YBH3VZFKT6"
VITE_FIREBASE_MESSAGING_SENDER_ID = "41939778711"
VITE_FIREBASE_PROJECT_ID = "vexa-95bb6"
VITE_FIREBASE_STORAGE_BUCKET = "vexa-95bb6.firebasestorage.app"
VITE_CENSYS_API_KEY = "censys_QXo8E1pU_Ahms7r18dBAarTxPFwZqsQQz"
VITE_QUALYSYS_API_KEY = "10ef3d3b-b882-47d5-8483-222341536aa6"
VITE_SHODAN_API_KEY = "BJxg7C1a0MPnRtAA6mhJT1FD6Pf3QW7U"
VITE_VIRUSTOTAL_API_KEY = "ba0cd3584c2a8cab1d6f81d9d117117ce4ea1f2371724a68829fcc78cd3b718a"
